:root{
    font-size: 16px; 
}

.navbar:hover {
    width: 206px;
    transition: max-width 0.4s ease-in 0s; 
}

.navbar a {
    display: none;
}

.navbar:hover a {
    display: block;
    transition: max-width 0.4s ease-in 0s; 
}
