body,
body * {
    margin: 0;
    padding: 0;
    vertical-align: top;
    box-sizing: border-box;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: inline-block;
    width: 100vw;
    height: 100vh;
}

.navbar {
    background-color: red;
    float: left;
    width: 206px;
    height: 100vh;
}

.logo {
    /*display: inline-block;*/
    margin-top: 20px;
    margin-bottom: 20px;
    position: relative;
    width: 100%;
    height: 57px;
    float: left;
}

.logo > .logo-img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 68px;
    height: 34px;
}

.logo > .logo-line {
    margin-top: 40px;
    margin-bottom: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

a {
    text-decoration: none;
    color: #C4C4C4;
}

.home > a {
    position: absolute;
    color: #02577A;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.home > img {
    position: absolute;
    top: 15px;
    right: 150px;
}

.home {
    margin: 10px 20px;
    width: 186px;
    height: 57px;
    float: left;
    position: relative;
    background: #209120;
    border-radius: 25px 0px 0px 25px;
}

.calendar {
    padding: 10px 20px;
    position: relative;
    width: 100%;
    height: 57px;
    float: left;
}

.calendar > a {
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 50px;
}

.calendar > img {
    position: absolute;
    top: 15px;
    right: 150px;
}

.fe {
    padding: 10px 20px;
    position: relative;
    width: 100%;
    height: 57px;
    float: left;
}

.fe > a {
    position: absolute;
    text-align: left;
    top: 50%;
    left: 40%;
    transform: translate(-50%, -50%);
}

.fe > img {
    position: absolute;
    top: 15px;
    right: 150px;
}

.games {
    padding: 10px 20px;
    position: relative;
    width: 100%;
    height: 57px;
    float: left;
    margin: 0;
}

.games > a {
    position: absolute;
    text-align: left;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.games > img {
    position: absolute;
    top: 15px;
    right: 140px;
}
.content {
    float: left;
    background-color: #E5E5E5;
    width: 86%;
    height: 100vh;
}

footer{
   bottom: 0;
   position: absolute;
   
}