body,
body * {
    margin: 0;
    padding: 0;
    vertical-align: top;
    box-sizing: border-box;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: inline-block;
    position: relative;
    max-width: 100vw;
    height: 100vh;
    background-color: #E5E5E5;
}

.navbar {
    position: fixed;
    background-color: #F7F6FF;;
    /*position: absolute;*/
    float: left;
    width: 100px;
    height: 100vh;
    box-shadow: 0 4px 4px rgb(0, 0, 0, 0.25);
    z-index: 1;
}

.logo {
    margin-top: 20px;
    margin-bottom: 20px;
    position: relative;
    width: 100%;
    height: 57px;
    float: left;
}

.logo > .logo-img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 68px;
    height: 34px;
}

.logo > .logo-line2 {
    margin-top: 40px;
    margin-bottom: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

a {
    text-decoration: none;
    color: #C4C4C4;
}

.navbar >.home > a {
    position: absolute;
    color: #02577A;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.home:hover > img {
    position: absolute;
    top: 15px;
    right: 150px;
}

.home > img {
    padding-left: 17px;
    padding-top: 4px;
}

.home {
    padding: 10px 20px;
    position: relative;
    width: 100%;
    height: 57px;
    float: left;
}

.home:hover {
    background: #FFFFFF;
    border-radius: 25px 0px 0px 25px;
}

.calendar {
    padding: 10px 20px;
    position: relative;
    width: 100%;
    height: 57px;
    float: left;
}

.calendar:hover {
    background: #FFFFFF;
    border-radius: 25px 0px 0px 25px;
}

.calendar > a {
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 50px;
}

.calendar:hover > img {
    position: absolute;
    top: 15px;
    right: 150px;
}

.calendar > img {
    padding-left: 17px;
    padding-top: 4px;
}


.calendar:hover img , .calendar:hover a {
    filter: brightness(40%);
}

.fe {
    padding: 10px 20px;
    position: relative;
    width: 100%;
    height: 57px;
    float: left;
}

.fe:hover {
    background: #FFFFFF;
    border-radius: 25px 0px 0px 25px;
}

.fe > a {
    position: absolute;
    text-align: left;
    top: 50%;
    left: 40%;
    transform: translate(-50%, -50%);
}

.fe:hover > img {
    position: absolute;
    top: 15px;
    right: 150px;
}

.fe > img {
    padding-left: 18px;
    padding-top: 5px;
}

.fe:hover > img , .fe:hover a {
    filter: brightness(40%);
}

.games {
    padding: 10px 20px;
    position: relative;
    width: 100%;
    height: 57px;
    float: left;
    margin: 0;
}

.games:hover {
    background: #FFFFFF;
    border-radius: 25px 0px 0px 25px;

}

.games > a {
    position: absolute;
    text-align: left;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.games > a {
    position: absolute;
    text-align: left;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.games:hover > img {
    position: absolute;
    top: 15px;
    right: 140px;
}

.games > img {
    padding-left: 10px;
    padding-top: 4px;
}

.games:hover > img , .games:hover a {
    filter: brightness(40%); /*uzvedus pelyte pasikeicia spalva*/
}


.content {
    position: absolute;
    float: left;
    margin-left: 100px; 
    width: calc(100vw - 100px);/*-navbar ploti*/
    min-height: 100vh;
}

.content > .cont {
    display: flex;
    justify-content: space-around;
    padding-top: 30px;
    padding-bottom: 20px;
}

.content > .cont > .greetings {
    width: 341px;
    height: 80px;
    padding-top: 20px;
}

.content > .cont > .greetings > h1 {
    font-weight: 500;
    font-size: 36px;
    line-height: 44px;
}

.content > .cont > .data {
    width: 516px;
    height: 100px;
    background: #FFFFFF;
    border-radius: 25px 25px 25px 25px;
    padding: 10px 90px; 
}

.content > .cont > .data > .hours {
    color: #02577A;;
}

.hours , .full-data {
    font-weight: 500;
    font-size: 30px;
    line-height: 40px;
}

.bacgraund-foto {
    width: 100%;
    height: 450px;
    background-image: url(../assets/pagrindine-foto.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: #02577A;
}

.quote {
    width: 898px;
    height: 70px;
    margin: 0 calc(50% - 449px);
    border: 2px solid #02577A;
    box-sizing: border-box;
    border-radius: 25px;
    margin-top: 20px;
    text-align: center;
}

.quote > p {
    font-size: 16px;
    padding-top: 25px;
}

footer {
   position: absolute;
    bottom: 10px;
    margin-top: 50px;
    width: 346px;
    margin:  0 calc(50% - 173px);
    border-top: 1px solid #02577A;
 }

 footer > p {
    font-weight: 500;
    font-style: normal;
    font-size: 11px;
    line-height: 13px;
    padding-top: 6px;
    text-align: center;
    color: #02577A;
}

@media (max-width: 1100px) {
    .bacgraund-foto{
        margin-bottom: 20px;
        height: 400px;
    }

    .content > .cont {
        max-width: 100%;
        max-height: 100vh;
        display: flex;
        justify-content: center;
        flex-direction: column-reverse;
        align-items: center;
        gap: 0px;
        padding-top: 10px;
        padding-bottom: 0px;
    }

    .content > .cont > .greetings {
        width: 550px;
        height: 60px;
        padding-top: 10px;
    }

    .content > .cont > .greetings > h1 {
        font-size: 30px;
    }

    .content > .cont > .data {
        width: 550px;
        height: 80px;
        padding: 10px; 
    }

    .hours , .full-data {
        font-size: 20px;
        line-height: 30px;
    }

    .quote {
        width: 650px;
        height: 80px;
        margin-top: 20px; /*nepasidaro tarpas*/
        margin : 0 calc(50% - 325px);
    }
}

@media (max-width: 800px) {
    .content > .cont {
        max-width: 100%;
        max-height: 100vh;
    }

    .quote {
        width: 400px;
        height: 80px;
        margin-top: 10px; /*nepasidaro tarpas*/
        margin : 0 calc(50% - 200px);
    }

    .quote > p {
        font-size: 16px;
        padding: 16px;
    }

    .content > .cont > .greetings {
        width: 400px;
    }

    .content > .cont > .data {
        width: 400px;
    }
}

@media  (max-height: 420px){ /*pavertus ekrana gerai atrodo*/
    footer {
        margin-top: 50px;
    }
    .quote {
        margin-bottom: 60px;
    }
}

@media (max-width: 500px) {
    .quote {
        width: 230px;
        height: 80px;
        margin-top: 10px; /*nepasidaro tarpas*/
        margin : 0 calc(50% - 115px);
    }

    .quote p {
        padding: 13px;
    }

    footer {
        width: 250px;
        margin:  0 calc(50% - 125px);
    }

    .bacgraund-foto {
        display: none;
    }

    .bacgraund-foto2 {
        width: 100%;
        height: 300px;
        background-image: url(../assets/foto-mobile.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        margin-bottom: 40px;
    }

    .content > .cont {
        display: flex;
        flex-direction: column-reverse;
        gap: 0px;
        padding-top: 30px;
        padding-bottom: 0px;
    }

    .content > .cont > .greetings {
        width: 250px;
        height: 80px;
        padding-top: 20px;
        
    }

    .content > .cont > .greetings > h1 {
        font-size: 20px;
    }


    .content > .cont > .data {
        width: 260px;
        height: 80px;
    }

    .hours , .full-data{
        font-size: 20px;
        line-height: 30px;
    }
}

@media (max-width: 400px) {
    footer {
        width: 200px;
        margin:  0 calc(50% - 100px);
    }

    .quote p {
        padding: 13px;
    }
    
    .bacgraund-foto2 {
        height: 300px;
        margin-bottom: 30px;
    }
}